body {
  color: #659b5e;
  background-color: rgba(153, 221, 200, 0.5);
  font-family: "Atkinson Hyperlegible Next", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  line-height: 30px;
}

a {
  color: #659b5e;
}

i:hover {
  color: #385752;
}

i {
  margin: 0 10px;
}

p {
  font-size: 18px;
}

#profile_pic {
  border-radius: 50%;
  height: 100px;
  margin-bottom: 30px;
}

#name {
  color: rgb(85, 111, 68);
}

.inline {
  display: inline;
}

.atkinson-hyperlegible-next-title {
  font-weight: 800;
  font-size: 60px;
}

.atkinson-hyperlegible-next-subtitle {
  font-weight: 400;
}

.button-forestgreen {
  color: #95bf74;
  background-color: #556f44;
  width: 200px;
  height: 50px;
  border-radius: 15px;
  border: 1px solid #9fcec6;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
}

.button-forestgreen:hover {
  background-color: #759c5c;
  color: #ade087;
}

.text_center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

@media (min-width: 780px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 760px; /* This sets the width */
    margin: 20px auto; /* This automatically sets left/right margins */
    border-color: #385752;
    border-radius: 40px;
    border: 1px solid #9fcec6;
    padding: 34px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
}

@media (max-width: 780px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 540px; /* This sets the width */
    margin: 20px auto; /* This automatically sets left/right margins */
    border-color: #385752;
    border-radius: 40px;
    border: 1px solid #9fcec6;
    padding: 34px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px; /* This sets the width */
    margin: 20px auto; /* This automatically sets left/right margins */
    border-color: #385752;
    border-radius: 40px;
    border: 1px solid #9fcec6;
    padding: 34px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
}
